@font-face{
    font-family:'Glyphicons Halflings';
    src:url('../fonts/glyphicons-halflings-regular.eot');
    src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }

.header-title {
  background: white;
}

.no-margin {
	margin: 0px;
}

p.expires {
	font-size: 12px;
	font-style: italic;
}

#question-body-container {
    width:40%;
    padding:1%;
    font-size:80%;
    color:#666;
    overflow:hidden;
 }

#image {
    float:left;
    width:56%;
    border:1px solid #999;
    border-radius:5px;
 }

#options{
    float:right;
    width:42%;
    padding-top:10%;
 }

#options div {
    clear:both;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px dotted #999;
    overflow:hidden;
 }

.option {
    float:left;
    line-height:1.8;
 }

.btn-option {
    float:right;
    line-height:1.8;
 }

.like,.dislike {
    font-family:'Glyphicons Halflings';
 }

.like:before {
    content:'\e125';
 }

.dislike:before {
    content:'\e126';
 }