html {
  font-family: Arial, Helvetica, sans-serif;
}

#carousel-example-generic {
  padding-top: 5%
}

.item h2:hover {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.mainContainer:not(#homepage) {
  display: none;
}

.answer {
  opacity: 0.6;
}

.answer:hover {
  opacity: 1;
}